.background-image {
  background-image: url('https://rumble.ancorathemes.com/splash/src/img/hero-overlay.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  padding: 0;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}